/* apartir de 800 */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: white;
}

.productos-nav a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}

nav{
    width: 100%;
    height: auto;
    background-color: #192556;
    display: flex;
    flex-wrap: wrap;
}

.logo-container{
    width: 30%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    text-align: center;
}

.logo-container img{
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
  
}

.logo-container h3{
    display: none;
}

.ul-nav-bar{
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    list-style: none;
    font-size: 1.5rem;
    color: white;
}

.ul-nav-bar li{
    cursor: pointer;
}

.ul-nav-bar li:hover{
   color: rgb(255, 95, 95);
}

.productos-nav ul{
   position: absolute;
   list-style: none;
   display: none;
   padding: 2%;
}

.productos-nav ul a{
    font-size: 1.5rem;
}

.productos-nav ul li{
    margin-top: 25%;
    text-align: left;
}

.productos-nav:hover ul{
    background-color: #192556;
    color: white;
    display: block;
    border-bottom-right-radius: 30px;
}

.servicios-nav ul {
    display: none;
    padding: 2%;
}

.ul-servicios {
    position: absolute;
    background-color:#192556;
    border-bottom-right-radius: 30px;
    font-size: 1.5rem;
}


.ul-servicios a{
    text-decoration: none;
    text-align:left;
    display: block;
    margin-top: 20%;
    color: white;
    font-size: 1.5rem;
   
}

.ul-servicios a:hover{
    color: red;
}

.ul-servicios a li{
    color: white;
    
    
}

.servicios-nav:hover .ul-servicios {
    display: block;
    color: aqua;
}
.carrusel{
    
    width: 100%;
    height: 350px;
    background-color: black;
    margin:auto;
}

.img-carrusel{
    width: 100%;
    height:100%;  
}

.nuestros-servicios{
    width:100%;
    height: auto;
    margin-bottom: 40px;
}

.div-nuestros-servicios{
    width:100%;
    height: 45px;
    background-color: #A90B15;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    color:whitesmoke;
    text-align: center;
    font-size: 2.5rem;
    padding: 1%;
    margin-bottom: 25px;
    font-family: sans-serif;
    border-radius: 0px;
}

.container-alquiler{
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.texto-alquiler{
    width: 80%;
    height: auto;
    height: auto;
    background-color: #192556;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

.texto-alquiler p{
    color: azure;
    padding: 10px;
    font-size: 1.6rem;
    
}

.img-alquiler{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img-alquiler img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

footer{
    width: 100%;
    height: auto;
    background-color: #192556;
}

.container-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.footer-img{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 5%;
}

.footer-img img{
    width: 40%;
    height:180px;
    
    
}

.footer-text{
    width: 80%;
    font-size: 1.6rem;
    color: aliceblue;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright{
    width: 100%;
    height: auto;
    font-size: 1.8rem;
    padding: 10px;
    color: aliceblue;
    text-align: center;
    margin-top: 25px;
    background-color: #A90B15;
}

.Footer-nombre-empresa{
    width: 100%;
    height: 50px;
    color:aliceblue;
    font-size: 2rem;
    text-align: center;
    background-color: #A90B15;
    padding: 10px;
}
