/* a partir de 500px */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

.container-nav{
    width: 100%;
    height:50px;
    
}

a{
    text-decoration: none;
    color: white;
}

.productos-nav a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}

nav{
    width: 100%;
    height: auto;
    background-color: #192556;
    display: flex;
    flex-wrap: wrap;
}

.logo-container{
    width: 30%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    text-align: center;
}

.logo-container img{
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
  
}

.logo-container h3{
    display: none;
}

.ul-nav-bar{
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    list-style: none;
    font-size: 1.5rem;
    color: white;
}

.ul-nav-bar li{
    cursor: pointer;
}

.ul-nav-bar li:hover{
   color: rgb(255, 95, 95);
}

.productos-nav ul{
   position: absolute;
   list-style: none;
   display: none;
   padding: 2%;
}

.productos-nav ul a{
    font-size: 1.5rem;
}

.productos-nav ul li{
    margin-top: 25%;
    text-align: left;
}

.productos-nav:hover ul{
    background-color: #192556;
    color: white;
    display: block;
    border-bottom-right-radius: 30px;
}

.servicios-nav ul {
    display: none;
    padding: 2%;
}

.ul-servicios {
    position: absolute;
    background-color:#192556;
    border-bottom-right-radius: 30px;
    font-size: 1.5rem;
}


.ul-servicios a{
    text-decoration: none;
    text-align:left;
    display: block;
    margin-top: 20%;
    color: white;
    font-size: 1.5rem;
   
}

.ul-servicios a:hover{
    color: red;
}

.ul-servicios a li{
    color: white;
    
    
}

.servicios-nav:hover .ul-servicios {
    display: block;
    color: aqua;
}

.carrusel{
    
    width: 100%;
    height: 350px;
    background-color: black;
    margin:auto;
}

.img-carrusel{
    width: 100%;
    height:100%;  
}

.nuestros-servicios{
    width:100%;
    height: auto;
    margin-bottom: 3%;
}

.div-nuestros-servicios{
    width:95%;
    height: 35px;
    background-color: #A90B15;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    color:whitesmoke;
    text-align: center;
    font-size: 2rem;
    padding: 8px;
    margin-bottom: 0;
    font-family: sans-serif;
}

.container-cards1{
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-bottom: 2%; 
}


.cards{
    background-color: #192556;
    width: 60%;
    height: auto;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: #A90B15 solid 8px;
    overflow: hidden;
}

.container-cards{
    width: 100%;
    height: auto;
    margin-bottom:3%;
}

.cotainer-cards-2{
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 50px;  
}

.cards p{
    color:white;
    text-align: center;
    padding: 10px;
}

.cards h4{
    color: white;
    margin-top: 1px;
    font-size: 2rem;
}

.cards img{
    width:60%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-size: contain;
}

.image-container img{
    width: 60%;
    height:180px;
    margin-top: 20px;
    border-radius: 10px;
}

.container-algunos-productos{
    width:95%;
    height:35px;
    background-color:#A90B15;
    margin: auto;
    position:inherit;
    color: aliceblue;
    text-align: center;
    padding: 8px;
    font-size: 2rem;
    border-radius: 0px;

}

.algunos-productos{
    width: 100%;
    height:auto;
}

.card-nuestros-productos{
    background-color: white;
    width: 60%;
    height: auto;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border-radius: 15px;
    border: #192556 solid 10px;  
}

.cards{ 
    margin-top: 25px;
    justify-content: space-between;
}

.img-card {
    width: 100%;
    height: 200px;
}

.img-card img {
    width: 80%;
    height: 150px;
    margin-top: 20px;
}

.button-cards-productos button{
    width:55%;
    height:30px;
    border:none ;
    color: aliceblue;
    background-color: #A90B15;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.button-cards-productos button:hover{
    color: #192556;
    background-color: #d9000e;
    box-shadow: 2px 2px 8px gray;
}

.container-cards-productos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 3%;
    justify-content: space-between;
}

.camioneras{
    width:100%;
    height:auto; 
}

.container-camioneras{
    width: 100%;
    height: auto;
    background-color:#192556;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cotiza-con-nosotros{
    width: 100%;
    text-align: center;
}

.cotiza-con-nosotros h3{
    font-size:3rem;
    color: azure;
    margin-bottom: 3%;
    margin-top: 3%;

}

.cotiza-con-nosotros button{
    width: 150px;
    height:50px;
    background-color: #A90B15;
    color: azure;
    border: none;
    font-size: 1.7rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 5%;
}

.cotiza-con-nosotros button:hover{
    background-color: #e50b1a;
    box-shadow: 2px 2px 8px gray;
}

.container-card-camioneras{
    width: 55%;
    height: 220px;
    background-color: white;
    margin:auto;
    margin-bottom:4%;
    border-radius: 10px; 
}

.container-card-camioneras img{
    width:80%;
    height:140px;
    margin-left:10%;
    margin-right: 10%;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.container-card-camioneras button{
    width: 50%;
    height: 25px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1px;
    background-color: #192556;
    border:none;
    border-radius: 10px;
    color: azure;
    cursor:pointer;
}

.container-card-camioneras button:hover{
    background-color: #2140b9;
    box-shadow: 2px 2px 8px gray;
}

.container-trabajamos-marcas{
    width: 100%;
    height: 350px;
    text-align: center;
}

.container-trabajamos-marcas-img img{
    width: 80%;
    height: 280px;
}

footer{
    width: 100%;
    height: auto;
    background-color: #192556;
}

.footer-img{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 5%;
}

.footer-img img{
    width: 40%;
    height:180px;
    
    
}

.footer-text{
    width: 80%;
    font-size: 1.6rem;
    color: aliceblue;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright{
    width: 100%;
    height: auto;
    font-size: 1.8rem;
    padding: 10px;
    color: aliceblue;
    text-align: center;
    margin-top: 25px;
    background-color: #A90B15;
}

.Footer-nombre-empresa{
    width: 100%;
    height: 50px;
    color:aliceblue;
    font-size: 2rem;
    text-align: center;
    background-color: #A90B15;
    padding: 10px;
}




    